@page
@model Slobodianiuk.University.Example.Web.Pages.OrdersModel
@{
}
<h2 class="text-center mt-5">You Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
            </tr>
        }
    </tbody>
</table>